In [1]:
import requests
import pandas as pd
import re
import string
import collections

In [2]:
root_url = "https://www.nationsonline.org/oneworld/IATA_Codes/IATA_Code_{}.htm"

In [3]:
def get_df(letter, url, pattern):
    attributes = {'summary': "IATA Airport-Codes {}".format(letter)}
    df = pd.read_html(requests.get(url).content, attrs = attributes, header = 0)[0]
    df.drop("Unnamed: 4", axis = 1, inplace = True)
    df.dropna(inplace = True)
    return df[df["Code"].str.match(pattern)]

In [4]:
info = collections.namedtuple("Info",['letter','url'])
iata_tables = pd.concat(map(lambda info: get_df(info.letter,info.url,"[A-Z]{3}"),
                            (info(letter,root_url.format(letter)) for letter in string.ascii_uppercase)))

In [5]:
iata_tables.shape

(9219, 4)

In [6]:
iata_tables.iloc[:3]

  Code      City                         Airport           Country
0  AAA      Anaa                            Anaa  French Polynesia
1  AAB  Arrabury                        Arrabury         Australia
2  AAC     Arish  El Arish International Airport             Egypt

In [7]:
iata_tables.to_csv("iata_tables.csv", encoding = 'utf8', index = False)